// large screens
@media all and (min-width: 1200px) {
  #unique-design {
    #tab {
      position: absolute;
      top: 27%;
      left: 35%;
      width: 400px;
    }

    #phone {
      position: absolute;
      bottom: -75px;
      right: 30%;
      width: 200px;
    }
  }

  #our-team {
    .team {
      img {
        height: 460px;
      }

      .overlay {
        height: 450px;
        margin-bottom: 2.5rem;
      }
    }
  }
}

// tablet view
@media all and (max-width: 768px) and (min-width: 520px) {
  #main-nav {
    .nav-menu {
      li {
        padding: 0 0.3rem;
      }
    }
  }

  #header {
    .main {
      h1 {
        font-size: 50px;
      }

      p.l-heading {
        font-size: 100px;
      }
    }
  }

  #about {
    .about-images {
      img {
        height: 180px;
      }

      .overlay {
        height: 170px;
      }
    }
  }

  #facts {
    .facts {
      .fact {
        // &:first-child {
        //   margin-left: 0;
        // }
        h1 {
          font-size: 50px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }

  #services {
    .services {
      .service-item {
        .service-text {
          padding: 0 0.5rem;
        }
      }
    }
  }

  #unique-design {
    #tab {
      left: 25%;
    }

    #phone {
      right: 13%;
    }
  }

  #service {
    .service-grid {
      & > img {
        width: 360px;
        // height: 290px;
      }
      .service {
        .service-item {
          padding: 0.5rem 0;
          margin-bottom: 0.5rem;

          &#service-text {
            padding: 0.5rem 1rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  #our-team {
    .team {
      // grid-template-columns: repeat(3, 220px);
      gap: 1.5rem;

      p {
        margin: 0;
        padding: 0.5rem 2rem;
      }

      img {
        height: 250px;
      }

      .overlay {
        height: 240px;

        #overlay-image {
          left: 15%;
          width: 150px;
          height: 35px;
        }
      }
    }
  }

  #logo {
    #logo-images {
      padding: 0 1rem;
    }
  }

  #people-say {
    .testimony-grid {
      gap: 1.5rem;

      .grid-item {
        #tes-img {
          margin-right: 0.8rem;
        }
      }
    }
  }

  #footer {
    .footer-content {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      #footer-a {
        p {
          line-height: 1.3;
          margin-bottom: 2rem;
        }

        .follow-us {
          padding-top: 1rem;

          p {
            line-height: 1.3;
            margin-right: 0;
          }

          img {
            width: 65%;
            margin-left: 8px;
          }
        }
        .form-group {
          #form-item {
            width: 90%;
            margin-bottom: 0.5rem;
          }
        }
      }

      #blogs {
        .blog-content {
          display: block;
          margin-bottom: 0.5rem;
        }
      }

      #instagram {
        .insta-img {
          display: grid;
          grid-template-columns: repeat(3, 80px);
        }
      }
    }

    .footer-copyright {
      margin-top: 0;
    }
  }
}

// phone and smaller screens
@media all and (max-width: 520px) {
  #main-nav {
    // position: relative;
    padding: 0.5rem 1.2rem;

    .hamburger {
      display: flex;
      flex-direction: column;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 1;

      .line {
        width: 40px;
        height: 3px;
        background: white;
        margin: 5px;
      }
    }

    .nav-menu {
      position: fixed;
      background: linear-gradient(
        90deg,
        rgb(252, 227, 138) 0%,
        rgb(243, 129, 129) 100%
      );
      height: 70vh;
      width: 100%;
      top: 0;
      right: 0;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
      align-items: center;
      justify-content: center;

      li {
        opacity: 0;

        &:nth-child(even) {
          transition: all 0.5s ease 0.2s;
        }

        &:nth-child(odd) {
          transition: all 0.5s ease 0.4s;
        }

        a {
          font-size: 12px;
          font-weight: 550;
          padding: 0.2rem;
        }
      }

      &.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;

        li.fade {
          margin-top: 2rem;
          opacity: 1;
        }
      }
    }
  }
}
