@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;500;700&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

// utilities
.container {
  max-width: 85vw;
  height: 100%;
  margin: auto;
  // padding: 0 2rem;s
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  font-weight: bold;
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  border: 2px white solid;

  &:hover {
    padding: 1rem 2rem;
    color: black;
  }
}

ul {
  list-style: none;
}

//nav area

#main-nav {
  position: sticky;
  display: flex;
  background: linear-gradient(
    90deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  top: 0;
  height: 10vh;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;

  .logo {
    font-size: 30px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
  }

  .nav-menu {
    display: flex;

    li {
      cursor: pointer;
      padding: 0 1.2rem;
    }

    a {
      font-size: 14px;
      font-weight: 500;
      font-family: 'Montserrat';
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 1.2;
      padding: 0.5rem 0;
      text-align: center;
      border-bottom: 2px transparent solid;

      &:hover {
        border-bottom: 2px rgb(252, 227, 138) solid;
        color: rgb(252, 227, 138);
      }
    }
  }
}

// header section
#header {
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  height: 90vh;
  // padding: 1rem;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    background: url('../images/main-bg-min.png') no-repeat center center/cover;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    opacity: 0.1;
  }

  //main header content
  .main {
    position: relative;
    text-align: center;
    margin: 5rem 1rem;
    padding: 0 2rem;

    h1 {
      font-size: 60px;
      font-weight: 300;
      font-family: 'Kaushan Script', cursive;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      margin: 1rem 0;
    }

    p.l-heading {
      font-size: 120px;
      font-family: 'Montserrat';
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 0.933;
      margin: 2rem auto;
    }

    .bottom-line {
      background: white;
      height: 3px;
      width: 3rem;
      display: block;
      margin: 1rem auto;
    }

    button.btn {
      background: none;
      margin: 1rem 2rem;
      padding: 1rem 2rem;
      font-size: 14px;
      font-family: 'Montserrat';
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;

      &:hover {
        border: 2px rgb(252, 227, 138) solid;
        color: rgb(252, 227, 138);
      }
    }
  }
}

// ABout sction
#about {
  margin: 2rem 1rem;
  padding: 1rem;
  text-align: center;

  h2 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    // margin: 1rem;
  }

  h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0.5rem;
  }

  .bottom-line {
    background: rgb(243, 129, 129);
    height: 3px;
    width: 3rem;
    display: block;
    margin: 1rem auto;
  }

  p {
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(153, 153, 153);
    line-height: 1.6;
    margin: 1rem;
    padding: 0.5rem 4rem;
  }

  .about-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 0;

    img {
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: relative;
      background: linear-gradient(
        90deg,
        rgb(252, 227, 138) 0%,
        rgb(243, 129, 129) 100%
      );
      box-shadow: 10px 10px rgb(149, 225, 211);
      height: 95%;

      &::before {
        content: '';
        background: url('../images/about3-min.png') no-repeat center
          center/cover;
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        opacity: 0.1;
        width: 100%;
        z-index: 1;
      }

      .overlay-text {
        position: absolute;
        top: 35%;
        left: 20%;
        text-align: center;
        // margin: 1rem auto;

        img {
          width: 32px;
          height: 24px;
        }

        p {
          font-size: 18px;
          font-family: 'Montserrat';
          color: rgb(255, 255, 255);
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.2;
          padding: 0;
        }
      }
    }
  }
}

//facts section
#facts {
  background: rgb(149, 225, 211);
  margin: 2rem 0;
  padding: 0;

  .facts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // gap: 0.5rem;
    align-items: center;

    .fact {
      text-align: center;
      padding: 3rem 0;
      border-left: 1px white solid;

      &:last-child {
        border-right: 1px white solid;
      }

      &:first-child {
        // margin-left: -10px;

        p {
          font-size: 13px;
        }
      }

      h1 {
        font-size: 60px;
        font-family: 'Montserrat';
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 1rem;
      }

      p {
        font-size: 14px;
        font-family: 'Montserrat';
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
      }
    }
  }
}

// service section
#services {
  margin: 1rem;
  padding: 2rem;
  text-align: center;

  h2 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
  }

  h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0.5rem;
  }

  .bottom-line {
    background: rgb(243, 129, 129);
    height: 3px;
    width: 3rem;
    display: block;
    margin: 1rem auto;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 0;

    .service-item {
      margin: 1rem 0;
      display: flex;
      justify-content: space-around;

      img {
        width: 32px;
        height: 31px;
        margin: 1rem;
      }

      .service-text {
        padding: 0 1rem;

        h2 {
          font-size: 14px;
          font-family: 'Montserrat';
          color: rgb(51, 51, 51);
          text-transform: uppercase;
          margin: 0.5rem 0;
          text-align: left;
        }

        p {
          font-size: 15px;
          font-family: 'Roboto';
          color: rgb(153, 153, 153);
          line-height: 1.6;
          text-align: left;
        }
      }
    }
  }
}

//unique designn section
#unique-design {
  position: relative;
  background: whitesmoke;
  margin: 1rem 0;
  padding: 3rem 0 0 0;
  height: 600px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    background: url('../images/unique-design-min.png') no-repeat center
      center/cover;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    opacity: 0.1;
  }

  h2 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
  }

  h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0.5rem;
  }

  .bottom-line {
    background: rgb(243, 129, 129);
    height: 3px;
    width: 3rem;
    display: block;
    margin: 1rem auto;
  }

  #tab {
    position: absolute;
    top: 27%;
    left: 30%;
    width: 400px;
  }

  #phone {
    position: absolute;
    bottom: -75px;
    right: 27%;
    width: 200px;
  }
}

// second service section
#service {
  margin-top: 3rem;
  padding: 2rem 0;
  text-align: center;

  h2 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
  }

  h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0.5rem;
  }

  .bottom-line {
    background: rgb(243, 129, 129);
    height: 3px;
    width: 3rem;
    display: block;
    margin: 1rem auto;
  }

  p {
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem 4rem;
  }

  .service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 3rem 0;
    padding: 0;

    & > img {
      width: 570px;
      height: 100%;
    }

    .service {
      display: flex;
      flex-direction: column;

      .service-item {
        display: flex;
        border: 1px gray solid;
        margin-bottom: 1rem;
        padding: 1rem 0;
        align-items: center;
        justify-items: right;

        img {
          width: 30px;
          height: 30px;
          margin: 0 1rem;
        }

        h3 {
          font-size: 14px;
          font-family: 'Montserrat';
          color: rgb(51, 51, 51);
          text-transform: uppercase;
          line-height: 1.2;
        }

        .arrow {
          width: 22px;
          height: 12px;
          display: block;
          margin: 0 1rem 0 auto;
        }

        &#photography {
          margin-bottom: 0;
        }
        &#service-text {
          border-top: none;
          margin: 0 0 1rem 0;
          padding: 1rem;
          font-size: 15px;
          font-family: 'Roboto';
          color: rgb(153, 153, 153);
          font-style: italic;
          line-height: 1.6;
          text-align: left;
          align-self: flex-end;
        }
      }
    }
  }
}

//quotes section
#quotes {
  background-color: rgb(248, 248, 248);
  height: 290px;
  margin: 1rem 0;
  padding: 1rem 0;

  .quote {
    position: relative;
    display: flex;
    padding: 2rem;
    // justify-content: space-evenly;
    align-items: center;

    .arrow {
      position: absolute;
      width: 12px;
      height: 22px;
      // margin: 0 1.5rem;

      &#left {
        top: 50%;
        left: 0;
      }

      &#right {
        top: 50%;
        right: 0;
      }
    }

    #speech {
      border: 3px rgb(149, 225, 211) solid;
      padding: 2rem;
      margin: 0 1rem;

      img {
        width: 63px;
        height: 61px;
        // margin: 1rem;
      }
    }

    #quote-text {
      margin-left: 1rem;
      p {
        font-size: 20px;
        font-family: 'Roboto';
        color: rgb(153, 153, 153);
        font-style: italic;
        line-height: 1.5s;
        margin: 1rem 0;
      }

      h1 {
        font-size: 24px;
        font-family: 'Kaushan Script', cursive;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        text-transform: capitalize;

        .bottom-line {
          background: rgb(243, 129, 129);
          height: 3px;
          width: 3rem;
          display: inline-block;
          margin-right: 1rem;
        }
      }
    }
  }
}

//team section
#our-team {
  margin-top: 3rem;
  padding: 2rem 0;
  text-align: center;

  h2 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
  }

  h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0.5rem;
  }

  .bottom-line {
    background: rgb(243, 129, 129);
    height: 3px;
    width: 3rem;
    display: block;
    margin: 1rem auto;
  }

  p {
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem 3rem;
  }

  .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 0;

    h3 {
      font-size: 14px;
      font-family: 'Montserrat';
      color: rgb(51, 51, 51);
      text-transform: uppercase;
      line-height: 1.2;
    }

    p {
      font-size: 15px;
      font-family: 'Roboto';
      color: rgb(153, 153, 153);
      font-style: italic;
      line-height: 1.6;
      text-transform: capitalize;
    }

    img {
      width: 100%;
      height: 350px;
      margin-bottom: 1rem;
    }

    .overlay {
      position: relative;
      background: linear-gradient(
        90deg,
        rgb(252, 227, 138) 0%,
        rgb(243, 129, 129) 100%
      );
      box-shadow: 10px 10px rgb(149, 225, 211);
      height: 340px;
      margin-bottom: 2.5rem;

      &::before {
        content: '';
        background: url('../images/team3-min.png') no-repeat center center/cover;
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        opacity: 0.1;
        width: 100%;
        z-index: 1;
      }

      #overlay-image {
        position: absolute;
        top: 45%;
        left: 15%;
        width: 200px;
        height: 50px;
      }
    }
  }
}

// brand logo section
#logo {
  background-color: rgb(248, 248, 248);
  height: 200px;
  margin: 1rem 0;

  #logo-images {
    margin: 3rem 0;
    width: 100%;
  }
}

#works {
  margin-top: 3rem;
  padding: 2rem 0;
  text-align: center;

  h2 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
  }

  h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0.5rem;
  }

  .bottom-line {
    background: rgb(243, 129, 129);
    height: 3px;
    width: 3rem;
    display: block;
    margin: 1rem auto;
  }

  p {
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem 4rem;
  }

  .work-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;

    img {
      width: 100%;
      height: 250px;
    }

    #img3 {
      height: 500px;
      grid-column: 3 / span 1;
      grid-row: 1 / span 2;
    }
  }
}

//testimonial section
#testimonial {
  // background-color: rgb(248, 248, 248);
  height: 290px;
  margin: 1rem 0;
  padding: 2rem 0;

  .testimonial {
    position: relative;
    display: flex;
    padding: 2rem;
    align-items: center;

    .arrow {
      position: absolute;
      width: 12px;
      height: 22px;
      // margin: 0 1.5rem;

      &#left {
        top: 50%;
        left: 0;
      }

      &#right {
        top: 50%;
        right: 0;
      }
    }

    #test-img {
      width: 160px;
      height: 160px;
    }

    #text {
      margin-left: 2rem;
      p {
        font-size: 20px;
        font-family: 'Roboto';
        color: rgb(153, 153, 153);
        font-style: italic;
        line-height: 1.5s;
        margin: 1rem 0;
      }

      h1 {
        font-size: 24px;
        font-family: 'Kaushan Script', cursive;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        text-transform: capitalize;

        .bottom-line {
          background: rgb(243, 129, 129);
          height: 3px;
          width: 3rem;
          display: inline-block;
          margin-right: 1rem;
        }
      }
    }
  }
}

// what people saay
#people-say {
  position: relative;
  margin-top: 3rem;
  padding: 2rem 0;
  background: whitesmoke;
  // margin: 1rem;
  // padding: 3rem 0 0 0;
  height: 700px;

  &::before {
    content: '';
    position: absolute;
    background: url('../images/what-people-say-min.png') no-repeat center
      center/cover;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    opacity: 0.1;
  }

  h2 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
  }

  h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0.5rem;
    text-align: center;
  }

  .bottom-line {
    background: rgb(243, 129, 129);
    height: 3px;
    width: 3rem;
    display: block;
    margin: 1rem auto;
  }

  .testimony-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    padding: 1rem 0;
    gap: 3rem;

    .grid-item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'img h3 h3'
        'img p p '
        'img line .'
        'img text text';
      // padding: 1rem 0;
      align-items: center;

      #tes-img {
        grid-area: img;
        margin: 0 1rem 0 0;
      }

      h3 {
        grid-area: h3;
        font-size: 14px;
        font-family: 'Montserrat';
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        text-align: left;
      }

      p {
        grid-area: p;
        font-size: 15px;
        font-family: 'Roboto';
        color: rgb(51, 51, 51);
        font-style: italic;
        line-height: 1.6;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
      }

      .bottom-line {
        grid-area: line;
        background: rgb(243, 129, 129);
        height: 3px;
        width: 3rem;
        display: block;
        margin: 0;
      }

      #test-text {
        grid-area: text;
        padding: 1rem 0;
        font-size: 15px;
        font-family: 'Roboto';
        color: rgb(153, 153, 153);
        line-height: 1.6;
        font-style: unset;
        text-transform: none;
      }
    }
  }
}

//blog section
#blog {
  margin-top: 3rem;
  padding: 2rem 0;

  h2 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
  }

  h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0.5rem;
    text-align: center;
  }

  .bottom-line {
    background: rgb(243, 129, 129);
    height: 3px;
    width: 3rem;
    display: block;
    margin: 1rem auto;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .blog-item {
      .blog-image {
        position: relative;

        img {
          width: 100%;
          height: 200px;
          margin: 1rem 0;
        }
        .date {
          position: absolute;
          top: 62%;
          left: -10px;
          background-color: rgb(149, 225, 211);
          width: 50px;
          height: 60px;
          font-size: 1.2rem;
          font-family: 'Montserrat';
          font-weight: bold;
          // text-transform: capitalize;
          line-height: 1.2;
          text-align: center;
          padding-top: 0.5rem;

          .min {
            font-weight: 200;
            font-size: 1rem;
            // color: red;
            // text-transform: capitalize;
          }
        }
      }

      h1 {
        font-size: 14px;
        font-family: 'Montserrat';
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        line-height: 1.2;
      }

      .blog-text {
        font-size: 15px;
        font-family: 'Roboto';
        color: rgb(153, 153, 153);
        line-height: 1.6;
        margin: 1rem 0;
      }

      .img-text {
        font-size: 15px;
        font-family: 'Roboto';
        color: rgb(153, 153, 153);
        font-style: italic;
        line-height: 1.6;
        margin-right: 1rem;

        img {
          padding-right: 0.2rem;
        }
      }
    }
  }
}

// map section
#map {
  position: relative;
  margin-top: 3rem;
  padding: 2rem 0;
  background: whitesmoke;
  height: 200px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    background: url('../images/map-min.png') no-repeat center center/cover;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    opacity: 0.1;
  }

  .map-text {
    display: block;
    margin: 2rem 0;

    h4 {
      font-size: 25px;
      font-family: 'Montserrat';
      color: rgb(243, 129, 129);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      margin-top: 0.5rem;
      text-align: center;
    }

    .bottom-line {
      background: rgb(243, 129, 129);
      height: 3px;
      width: 3rem;
      display: block;
      margin: 1rem auto;
    }
  }
}

//footer
#footer {
  margin-top: 1rem;
  padding-top: 3rem;

  .footer-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    gap: 1.2rem;

    #footer-a {
      #footer-logo {
        font-size: 2rem;
        font-family: 'Montserrat';
        color: rgb(204, 204, 204);
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 1rem;
      }

      p {
        font-size: 15px;
        font-family: 'Roboto';
        color: rgb(153, 153, 153);
        line-height: 1.6;
        margin-bottom: 3rem;
      }

      h4 {
        font-size: 18px;
        font-family: 'Montserrat';
        color: rgb(51, 51, 51);
        font-weight: bold;
        line-height: 1.2;

        span {
          font-size: 15px;
        }
      }

      .follow-us {
        margin-top: 1rem;
        border-top: 1px grey solid;
        padding-top: 1.5rem;
        display: flex;
        // align-items: center;

        p {
          font-size: 15px;
          font-family: 'Roboto';
          color: rgb(153, 153, 153);
          font-style: italic;
          line-height: 1.6;
          margin-right: 2rem;
        }

        img {
          // width: 16px;
          height: 15px;
        }
      }

      .form-group {
        margin: 1rem 0;

        #form-item {
          padding: 1rem 0.5rem;
          font-size: 15px;
          font-family: 'Roboto';
          color: rgb(204, 204, 204);
          font-style: italic;
          line-height: 1.6;
          width: 180px;
          height: 44px;
        }

        input[type='button'] {
          background-color: rgb(149, 225, 211);
          font-size: 14px;
          font-family: 'Montserrat';
          color: rgb(255, 255, 255);
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.2;
          text-align: center;
          width: 100px;
          height: 40px;
          border: none;
          cursor: pointer;
        }
      }
    }

    #blogs {
      #blog-title {
        font-size: 1rem;
        font-family: 'Montserrat';
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 2rem;
      }

      .blog-content {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        img {
          width: 119px;
          height: 79px;
          margin-right: 1rem;
        }

        h1 {
          font-size: 12px;
          font-family: 'Montserrat';
          color: rgb(51, 51, 51);
          text-transform: uppercase;
          line-height: 1.5;
        }

        p {
          font-size: 13px;
          font-family: 'Roboto';
          color: rgb(153, 153, 153);
          font-style: italic;
          line-height: 1.846;
        }
      }
    }

    #instagram {
      h1 {
        font-size: 1rem;
        font-family: 'Montserrat';
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 2rem;
      }

      .insta-img {
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin-bottom: 1rem;
        img {
          width: 100%;
          height: 88px;
        }
      }
      a {
        font-size: 1rem;
        font-family: 'Roboto';
        color: rgb(51, 51, 51);
        font-style: italic;
        line-height: 1.846;
      }
    }
  }

  .footer-copyright {
    margin-top: 3rem;
    border-top: 1px gray solid;
    padding: 1rem 0;

    p {
      font-size: 1rem;
      font-family: 'Kaushan Script', cursive;
      color: rgb(51, 51, 51);
      line-height: 1.2;
      text-align: center;
      font-weight: bold;
    }
  }
}

@import 'mobile';
